body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.search-form .r1 {
  margin: 0 auto !important;
  max-width: 380px !important;
}
.search-form .r2 {
  margin: 0 auto !important;
  max-width: 380px !important;
}
.search-form .r3 {
  margin: 0 auto !important;
  max-width: 380px !important;
}
.search-form .r4 {
  margin: 0 auto !important;
  max-width: 380px !important;
}
.search-form .area div:first-child {
  bottom: 15px !important;
}
.search-form .area input {
  margin-top: -4px;
}
.arrow-right {
  margin-top: 23px;
}
.react-grid-Toolbar {
  padding: 12px 5px;
}
.react-grid-Toolbar .tools {
  float: left;
}
.react-grid-Row:hover .react-grid-Cell {
  background: #d6e9ff !important;
}
input[role=combobox] {
  width: 100%;
  height: 33px;
}
input[role=combobox]:focus,
input.editor-main:focus,
select.editor-main:focus {
  border: 2px solid #000 !important;
  background: #57cfff !important;
  color: #fff !important;
  border-radius: 4px !important;
}
.line-through * {
  text-decoration: line-through;
  color: red;
}
.spinner {
  position: fixed;
  top: 3px;
  right: 3px;
}
.cal-date {
  border-radius: 3px;
  width: 16px;
  height: 16px;
  margin-right: 1px;
  display: inline-block;
  overflow: hidden;
  background: #f5f5f5;
  color: #fff;
  text-align: center;
}
